<!DOCTYPE html>
<html lang="en-US">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="./ngLoadingButton.js"></script>
  <link rel="stylesheet" href="./bower_components/SpinKit/css/spinkit.css">
  <script>
    angular.module('app', ['ngLoadingButton']).run(function($rootScope, $timeout){
      $rootScope.loading = false;
      $rootScope.load = function(button){
        button.loading = true;
        $timeout(function(){
          button.loading = false;
        }, 5000);
      };
      $rootScope.buttons = [
        {mode: 'rotating-plane', color:'#ff3311'},
        {mode: 'double-bounce', color:'#ff6644'},
        {mode: 'wave', color:'#feae2d'},
        {mode: 'wandering-cubes', color:'#ccbb33'},
        {mode: 'spinner-pulse', color:'#d0c310'},
        {mode: 'chasing-dots', color:'#aacc22'},
        {mode: 'three-bounce', color:'#69d025'},
        {mode: 'circle', color:'#22ccaa'},
        {mode: 'cube-grid', color:'#11aabb'},
        {mode: 'fading-circle', color:'#3311bb'},
        {mode: 'folding-cube', color:'#442299'}
      ];
    });
  </script>
  <body>
    <div ng-app="app" style="text-align: center;">
      <!-- ALL LODING ANIMATIONS -->
      <ng-loading-button
      style="display: inline-block; position: relative; width: 300px; height: 100px; border: 0px solid; border-radius:50px; margin: 30px; font-size:18px; color:white; overflow:hidden; background:{{button.color}}"
      ng-repeat="button in buttons"
      nlb-loading="button.loading"
      nlb-mode="button.mode"
      ng-click="load(button);">
        <!-- BUTTON CONTENT HERE -->
        {{button.mode}}
      </ng-loading-button>
    </div>
  </body>
</html>
